/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opticaDocsHeading {
  color: #ffffff;
  /* Pure white for text */
  font-size: 5rem;
  /* Large text */
  font-weight: 700;
  /* Extra bold */
  text-align: center;
  /* Centered alignment */
  text-transform: uppercase;
  /* All caps like the example */
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  /* Subtle shadow for depth */
  letter-spacing: 1px;
  /* Slightly tighter letter-spacing */
}

@media screen and (max-width: 996px) {
  .opticaDocsHeading {
    font-size: 3rem;
    /* Adjusted font size for smaller screens */
  }

}

@media screen and (max-width: 768px) {
  .opticaDocsHeading {
    font-size: 2.5rem;
    /* Further adjusted font size for even smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .opticaDocsHeading {
    font-size: 2rem;
    /* Further adjusted font size for even smaller screens */
  }
}